{% extends 'predictor/base.html' %}
{% load static %}
{% block content %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <script type="text/javascript" src="{% static 'chartjs/Chart.bundle.js' %}"></script>

    <div class="content-wrapper" >
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <br>
                                         <h5 align="center">Cantidad de estudiantes desertores por género y carrera  (2010-2018)</h5>

                                        <div class="box-body">
                                             <canvas id="desertoresPorGeneroYCarrera" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total alumnos matriculados por carrera vs Total alumnos desertores por carrera (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="desertoresVsTotalEstudiantes" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total estudiantes por género que se han matriculado (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="totalEstudiantesPorGenero" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total alumnos matriculados vs total desertores por género. (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="desertorestotalesPorGeneroVsTotalEstudianteMatriculadosPorGenero" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                           <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Estudiantes que se matricularon por ciudad de origen  (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="totalAlumnosPorCiudadOrigen" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Estudiantes que desertaron por ciudad de origen  (2010-2018)</h5>
                                        <br>
                                        <div class="box-body">
                                             <canvas id="desertoresPorCiudadOrigen" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                  </div>
              </div>



<!-- desertoresPorGeneroYCarrera -->
<script>
    var densityCanvas = document.getElementById("desertoresPorGeneroYCarrera");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var densityData = {
  label: 'Hombres',
  data: [6, 116, 64, 69, 112, 102, 191, 208],
  backgroundColor: 'rgba(0, 45, 32, 0.6)',
  borderWidth: 0,
  yAxisID: "y-axis-density"
};

var gravityData = {
  label: 'Mujeres',
  data: [3, 112, 99, 20, 32, 47, 60, 33],
  backgroundColor: 'rgba(45, 132, 56, 0.6)',
  borderWidth: 1,
  yAxisID: "y-axis-gravity"
};

var planetData = {
  labels: ["Finanzas", "Administración", "Contaduría", "Geología", "Minas", "Industrial", "Sistemas", "Electrónica"],
  datasets: [densityData, gravityData]
};

var chartOptions = {
  scales: {
    xAxes: [{
      barPercentage: 0.8,
      categoryPercentage: 0.7
    }],
    yAxes: [{
      id: "y-axis-density"
    }, {
      id: "y-axis-gravity"
    }]
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: planetData,
  options: chartOptions
});
</script>



    <!-- ****** -->
<script>
    var densityCanvas = document.getElementById("desertoresVsTotalEstudiantes");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 14;

var densityData = {
  label: 'total Estudiantes',
  data: [628, 556, 573, 496, 458, 696, 237, 605],
  backgroundColor: 'rgba(0, 99, 132, 0.6)',
  borderWidth: 0,
  yAxisID: "y-axis-density"
};

var gravityData = {
  label: 'Total desertores',
  data: [241, 251, 149, 149, 89, 228, 9, 163],
  backgroundColor: 'rgba(99, 132, 0, 0.6)',
  borderWidth: 1,
  yAxisID: "y-axis-gravity"
};

var planetData = {
  labels: ["electrónica", "Sistemas", "Industrial", "Minas", "Geología", "Administración", "Finanzas", "Contaduría"],
  datasets: [densityData, gravityData]
};

var chartOptions = {
  scales: {
    xAxes: [{
      barPercentage: 0.8,
      categoryPercentage: 0.7
    }],
    yAxes: [{
      id: "y-axis-density"
    }, {
      id: "y-axis-gravity"
    }]
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: planetData,
  options: chartOptions
});
</script>


<!-- totalEstudiantesPorGenero -->
<script>
var densityCanvas = document.getElementById("totalEstudiantesPorGenero");


Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var hombres = {
    label: 'Hombres',
    backgroundColor: 'rgba(16, 64, 86, 0.67)',
    data: [2499]
};

var mujeres = {
    label: 'Mujeres',
    backgroundColor: 'rgba(175, 115, 18, 0.89)',
    data: [1700]
};

var allData = {
  labels: ["Género"],
   datasets: [hombres, mujeres]
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: allData
});
</script>

<!-- desertorestotalesPorGeneroVsTotalEstudianteMatriculadosPorGenero -->
<script>
var densityCanvas = document.getElementById("desertorestotalesPorGeneroVsTotalEstudianteMatriculadosPorGenero");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Mujeres',
  data: [1700, 406],
  backgroundColor: 'rgba(0, 99, 132, 0.6)',
  borderWidth: 0,
  yAxisID: "y-axis-density"
};

var gravityData = {
  label: 'Hombres',
  data: [2499, 873],
  backgroundColor: 'rgba(99, 132, 0, 0.6)',
  borderWidth: 1,
  yAxisID: "y-axis-gravity"
};

var planetData = {
  labels: ["Matriculados", "Desertores"],
  datasets: [densityData, gravityData]
};

var chartOptions = {

  scales: {
    xAxes: [{
      barPercentage: 0.8,
      categoryPercentage: 0.7
    }],
    yAxes: [{
      id: "y-axis-density"
    }, {
      id: "y-axis-gravity"
    }]
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: planetData,
  options: chartOptions
});
</script>

<!-- totalAlumnosPorCiudadOrigen -->
<script>
var densityCanvas = document.getElementById("totalAlumnosPorCiudadOrigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Número de estudiantes',
  data: [1889, 593, 152, 1565],
  backgroundColor: [
    'rgba(65, 59, 112, 0.6)',
    'rgba(100, 59, 112, 0.6)',
    'rgba(120, 59, 112, 0.6)',
    'rgba(140, 59, 112, 0.6)'
  ],
  borderColor: [
    'rgba(65, 59, 112, 1)',
    'rgba(100, 59, 112, 1)',
    'rgba(120, 59, 112, 1)',
    'rgba(140, 59, 112, 1)'
  ],
  borderWidth: 2,
  hoverBorderWidth: 0
};

var chartOptions = {
  scales: {
    yAxes: [{
      barPercentage: 0.5
    }]
  },
  elements: {
    rectangle: {
      borderSkipped: 'left',
    }
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'horizontalBar',
  data: {
    labels: ["Sogamoso", "Duitama", "Tunja", "Resto del país"],
    datasets: [densityData],
  },
  options: chartOptions
});
</script>


<!-- desertoresPorCiudadOrigen -->
<script>
var densityCanvas = document.getElementById("desertoresPorCiudadOrigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Número de estudiantes',
  data: [569, 186, 40, 484],
  backgroundColor: [
    'rgba(0, 99, 132, 0.6)',
    'rgba(30, 99, 132, 0.6)',
    'rgba(60, 99, 132, 0.6)',
    'rgba(90, 99, 132, 0.6)'
  ],
  borderColor: [
    'rgba(0, 99, 132, 1)',
    'rgba(30, 99, 132, 1)',
    'rgba(60, 99, 132, 1)',
    'rgba(90, 99, 132, 1)'
  ],
  borderWidth: 2,
  hoverBorderWidth: 0
};

var chartOptions = {
  scales: {
    yAxes: [{
      barPercentage: 0.5
    }]
  },
  elements: {
    rectangle: {
      borderSkipped: 'left',
    }
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'horizontalBar',
  data: {
    labels: ["Sogamoso", "Duitama", "Tunja", "Resto del país"],
    datasets: [densityData],
  },
  options: chartOptions
});
</script>



<!-- estudiantesyDesertoresPorCiudadOrigen -->
<script>
var densityCanvas = document.getElementById("estudiantesyDesertoresPorCiudadOrigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Total Estudiantes',
  data: [1889, 593, 152, 1565],
  backgroundColor: 'rgba(0, 99, 132, 0.6)',
  borderWidth: 0,
  yAxisID: "y-axis-density"
};

var gravityData = {
  label: 'Total desertores ',
  data: [569, 186, 40, 484],
  backgroundColor: 'rgba(99, 132, 0, 0.6)',
  borderWidth: 1,
  yAxisID: "y-axis-gravity"
};

var planetData = {
  labels: ["Sogamoso", "Duitama", "Tunja", "Resto del país"],
  datasets: [densityData, gravityData]
};

var chartOptions = {

  scales: {
    xAxes: [{
      barPercentage: 0.8,
      categoryPercentage: 0.7
    }],
    yAxes: [{
      id: "y-axis-density"
    }, {
      id: "y-axis-gravity"
    }]
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: planetData,
  options: chartOptions
});
</script>


{% endblock content %}