{% extends 'predictor/base.html' %}
{% load static %}
{% block content %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <script type="text/javascript" src="{% static 'chartjs/Chart.bundle.js' %}"></script>

        <div class="content-wrapper" >
                        <div class="container">
                            <div class="row">


                          <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total estudiantes por género que se han matriculado (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="matriculadosPorGenero" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <br>
                                        <h5 align="center">Cantidad de desertores por género (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="desertoresPorGenero" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>



                              <div class="col-md-8">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -0px">
                                    <div class="box-header with-border">
                                        <br>
                                         <h5 align="center">Cantidad de desertores por carrera (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="desertoresPorCarrera" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total de estudiantes matriculados por ciudad de origen (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="matriculadosPorCiudadOrigen" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                           <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <br>
                                        <h5 align="center">Total desertores por ciudad de origen (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="desertoresPorCiudadOrigen" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                  </div>
              </div>


<!-- desertoresPorCarrera  -->
<script>
var oilCanvas = document.getElementById("desertoresPorCarrera");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var oilData = {
    labels: [
        "Sistemas",
        "Electrónica",
        "Administración",
        "Contaduría",
        "Finanzas",
        "Geología",
        "Minas",
        "Industrial"
    ],
    datasets: [
        {
            data: [(191+60), (208+33), (116+112), (64+99), (9),(69+20),(112+32),(102+47)],
            backgroundColor: [
                "#FF6384",
                "#63FF84",
                "#84FF63",
                "#8463FF",
                "#6384FF",
                "#069e06",
                "#662200",
                "#26004D",
                "#CC0066",
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'pie',
  data: oilData
});
</script>


<!-- desertoresPorGenero  -->
<script>
var oilCanvas = document.getElementById("desertoresPorGenero");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var oilData = {
    labels: [
        "Mujeres",
        "Hombres"
    ],
    datasets: [
        {
            data: [406, 873],
            backgroundColor: [
                "#FF6384",
                "#63FF84",
                "#84FF63",
                "#8463FF",
                "#6384FF",
                "#069e06",
                "#662200",
                "#26004D",
                "#CC0066",
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'pie',
  data: oilData
});
</script>

<!-- matriculadosPorGenero  -->
<script>
var oilCanvas = document.getElementById("matriculadosPorGenero");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var oilData = {
    labels: [
        "Mujeres",
        "Hombres"
    ],
    datasets: [
        {
            data: [2499, 1700],
            backgroundColor: [
                "#662200",
                "#26004D"
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'pie',
  data: oilData
});
</script>


<!-- matriculadosPorCiudadOrigen  -->
<script>
var oilCanvas = document.getElementById("matriculadosPorCiudadOrigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var oilData = {
    labels: [
        "Sogamoso",
        "Duitama",
        "Tunja",
        "Resto del país"
    ],
    datasets: [
        {
            data: [1889, 593,152,1565],
            backgroundColor: [
                "#662200",
                "#26004D",
                "#26004D",
                "#CC0066"
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'doughnut',
  data: oilData
});
</script>

<!-- desertoresPorCiudadOrigen  -->
<script>
var oilCanvas = document.getElementById("desertoresPorCiudadOrigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 12;

var oilData = {
    labels: [
        "Sogamoso",
        "Duitama",
        "Tunja",
        "Resto del país"
    ],
    datasets: [
        {
            data: [569, 186, 40, 484],
            backgroundColor: [
                "#662200",
                "#26004D",
                "#26004D",
                "#CC0066"
            ]
        }]
};

var pieChart = new Chart(oilCanvas, {
  type: 'doughnut',
  data: oilData
});
</script>

{% endblock content %}