{% extends 'predictor/base.html' %}
{% load static %}
{% block content %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <script type="text/javascript" src="{% static 'chartjs/Chart.bundle.js' %}"></script>

    <div class="content-wrapper" >
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <br>
                                         <h5 align="center">Total alumnos matriculados por carrera vs Total alumnos desertores por carrera (2010-2018)</h5>
                                        <div class="box-body">
                                             <canvas id="matriculadosYDesertoresPorCarrera" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Cantidad de estudiantes desertores por género y carrera (2010-2018)</h5>
                                        <br>
                                        <div class="box-body">
                                             <canvas id="desertoresPorGeneroYCarrera" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -200px">
                                    <div class="box-header with-border">
                                        <br>
                                         <h5 align="center">Total alumnos matriculados y desertores por ciudad de origen (2010-2018)</h5>
                                        <div class="box-body">
                                               <canvas id="matriculadosydesertoresporcidadaorigen" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box box-primary"  style="margin-top: 5pt; margin-left: -120px">
                                    <div class="box-header with-border">
                                        <h5 align="center">Total alumnos matriculados vs total desertores por género (2010-2018)</h5>
                                        <br>
                                        <div class="box-body">
                                             <canvas id="estudianteporgeneromatriculados" ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                </div>
                            </div>
                        </div>
                  </div>
              </div>





<script>
var speedCanvas = document.getElementById("matriculadosYDesertoresPorCarrera");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Total matriculados",
    data: [628,556,573,496,458,696,237,605],
    lineTension: 0,
    fill: false,
    borderColor: 'red'
  };

var dataSecond = {
    label: "Total desertores",
    data: [241,251,149,149,89,228,9,163],
    lineTension: 0,
    fill: false,
  borderColor: 'blue'
  };

var speedData = {
  labels: ["Electrónica", "Sistemas", "Industrial", "Minas", "Grología", "Administración", "Finanzas", "Contaduría"],
  datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});
</script>

<script>
var speedCanvas = document.getElementById("desertoresPorGeneroYCarrera");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Total matriculados",
    data: [6, 116, 64, 69, 112, 102, 191, 208],
    lineTension: 0,
    fill: false,
    borderColor: 'red'
  };

var dataSecond = {
    label: "Total desertores",
    data: [3, 112, 99, 20, 32, 47, 60, 33],
    lineTension: 0,
    fill: false,
  borderColor: 'blue'
  };

var speedData = {
  labels: ["Finanzas", "Administración", "Contaduría", "Geología", "Minas", "Industrial", "Sistemas", "Electrónica"],
  datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});
</script>

<script>
var speedCanvas = document.getElementById("matriculadosydesertoresporcidadaorigen");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Total matriculados",
    data: [1889,593,152,1565],
    lineTension: 0,
    fill: false,
    borderColor: 'red'
  };

var dataSecond = {
    label: "Total desertores",
    data: [569,186,40,484],
    lineTension: 0,
    fill: false,
  borderColor: 'blue'
  };

var speedData = {
    labels: ["Sogamoso","Duitama","Tunja","Resto del país"],
    datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});
</script>



<!-- estudianteporgeneromatriculados -->
<script>
var speedCanvas = document.getElementById("estudianteporgeneromatriculados");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Total matriculados",
    data: [2499,1700],
    lineTension: 0,
    fill: false,
    borderColor: 'red'
  };

var dataSecond = {
    label: "Total desertores",
    data: [406,873],
    lineTension: 0,
    fill: false,
  borderColor: 'blue'
  };

var speedData = {
    labels: ["Hombres", "Mujeres"],
    datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});
</script>



{% endblock content %}