{% extends 'predictor/base.html' %}
{% load static %}
{% block content %}


    <section class="content-header" xmlns="http://www.w3.org/1999/html">
        <!--<h5 align="center">Red neuronal profunda para análisis de deserción  estudiantil</h5>-->
        </h1>
    </section>
    <section>
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form" action="/rtaPrediccion/" method="POST"   target="_self" enctype="multipart/form-data">
                                    <!-- comando django de seguridad -->
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Programa académico</label>
                                        <select class="form-control" id="programa" name="programa">
                                            <option value="49">INGENIERIA ELECTRONICA</option>
                                            <option value="80">ADMINISTRACION DE EMPRESAS</option>
                                            <option value="60">INGENIERIA DE SISTEMAS Y COMPUTACION</option>
                                            <option value="50">INGENIERIA GEOLOGICA</option>
                                            <option value="66">CONTADURIA PUBLICA</option>
                                            <option value="55">INGENIERIA INDUSTRIAL</option>
                                            <option value="95">FINANZAS Y COMERCIO INTERNACIONAL</option>
                                            <option value="52">INGENIERIA DE MINAS</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Periodo ingreso</label>
                                        <select class="form-control" id="periodoIngreso" name="periodoIngreso">
                                            <option value="177">2010-1</option>
                                            <option value="179">2010-2</option>
                                            <option value="181">2011-1</option>
                                            <option value="183">2011-2</option>
                                            <option value="185">2012-1</option>
                                            <option value="187">2012-2</option>
                                            <option value="190">2013-1</option>
                                            <option value="193">2013-2</option>
                                            <option value="197">2014-1</option>
                                            <option value="199">2014-2</option>
                                            <option value="203">2015-1</option>
                                            <option value="205">2015-6</option>
                                            <option value="209">2016-1</option>
                                            <option value="211">2016-2</option>
                                            <option value="215">2017-1</option>
                                            <option value="216">2017-2</option>
                                            <option value="219">2018-1</option>
                                            <option value="221">2018-2</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Último semestre cursado</label>
                                        <select class="form-control" id="periodoFinal" name="periodoFinal">
                                            <option value="177">2010-1</option>
                                            <option value="179">2010-2</option>
                                            <option value="181">2011-1</option>
                                            <option value="183">2011-2</option>
                                            <option value="185">2012-1</option>
                                            <option value="187">2012-2</option>
                                            <option value="190">2013-1</option>
                                            <option value="193">2013-2</option>
                                            <option value="197">2014-1</option>
                                            <option value="199">2014-2</option>
                                            <option value="203">2015-1</option>
                                            <option value="205">2015-2</option>
                                            <option value="209">2016-1</option>
                                            <option value="211">2016-2</option>
                                            <option value="215">2017-1</option>
                                            <option value="216">2017-2</option>
                                            <option value="219">2018-1</option>
                                            <option value="221">2018-2</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Ciudad de residencia</label>
                                        <select class="form-control" id="ciudadResidencia" name="ciudadResidencia">
                                            <option value="1">Sogamoso</option>
                                            <option value="2">Duitama</option>
                                            <option value="3">Tunja</option>
                                            <option value="0">Resto de Boyacá</option>
                                            <option value="4">Resto del pais</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Ciudad de origen</label>
                                        <select class="form-control" id="ciudadOrigen" name="ciudadOrigen">
                                            <option value="1">Sogamoso</option>
                                            <option value="2">Duitama</option>
                                            <option value="3">Tunja</option>
                                            <option value="0">Resto de Boyacá</option>
                                            <option value="4">Resto del pais</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Sexo</label>
                                        <select class="form-control" id="sexo" name="sexo">
                                            <option value="F">Femenino</option>
                                            <option value="M">Masculino</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Modalidad</label>
                                        <select class="form-control" id="modalidad" name="modalidad">
                                            <option value="D">Diurna</option>
                                            <option value="E">Extendida</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="exampleFormControlSelect1">Edad:</label>
                                        <input class="form-control col-md-12" type="number"
                                               autocomplete="billing cc-month" step="1"
                                               name="edad" max="50" min="16"
                                               placeholder="ingrese su edad"
                                               minlength="1" maxlength="2" id="edad" onkeyup="validar();" required>
                                    </div>

                                    <div>
                                        <label for="exampleFormControlSelect1">Promedio último semestre cursado:</label>
                                        <input class="form-control col-md-12" type="number" step="0.1"
                                               name="promedioUltimoCursado" max="5" min="0"
                                               placeholder="ingrese su promedio último semestre"
                                               minlength="1" maxlength="2" id="promedioActual" onkeyup="validar();" required>
                                    </div>

                                    <div>
                                        <label for="exampleFormControlSelect1">Promedio acumulado:</label>
                                        <input class="form-control col-md-12" type="number" step="0.1"
                                               name="promedioAcumulado" max="5" min="0"
                                               placeholder="ingrese su promedio acumulado"
                                               minlength="1" maxlength="2" id="promedioAcumulado" onkeyup="validar();" required>
                                    </div>


                                    <div>
                                        <button type="submit"   class="btn btn-primary btn-block btn-flat" id="predecir"  style="display:none"  data-toggle="modal" data-target="#exampleModalCenter">
                                            Predecir
                                        </button>
                                       <!-- <iframe id="request" style="visibility:hidden"></iframe> -->
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    </body>

<script>
function validar(){

  var edad = document.getElementById("edad");
  var promedioAcumulado = document.getElementById("promedioAcumulado");
  var promedioActual = document.getElementById("promedioActual");
    if(edad.value != "" && promedioAcumulado.value != ""  && promedioActual.value != ""){
      document.getElementById('predecir').style.display = '';
  }else{
    document.getElementById('predecir').style.display = 'none';
  }

}

</script>



{% endblock %}
